body{
	margin:0px;
	padding: 0px;
	background: #E9EBEE;
}
.header-wrapper{
	padding-right: 10%;
	padding-left: 10%;
	background: #375A90;
}
.panel>span{
	padding-top: 15px;
	display: block;
	float: left;
}
#log{
	float: right;
}
.panel{
	height: 84px;
    font-size: 160%;
    background: #375A90;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}
.panel>ul>li{
	float:left;
	list-style: none;
	line-height: 30px;
	margin-right: 4px;
	font-size: 18px;
	background-color: #809ECD;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.panel>ul>li>a{
	color: white;
	text-decoration: none;
}
.panel>ul{
	clear: both;
	margin:0px;
	padding: 0px;
}
.tinymce,#options{
	width: 45%;
	margin-top: 20px;
	margin-left:  3%;
	float: left;
	
}
.mce{
	height: 100px;
}

.panel-header{
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
    padding: 10px 0px 8px 0px;
    font-size: 120%;
    color: #365899;;
    background: #F6F7F9;
    border-top:1px solid #ced0d4;
    border-left:1px solid #ced0d4;
    border-right:1px solid #ced0d4;
    border-radius: 3px 3px 0px 0px;
}

.selectbig{
	width: 90%;
	height: 40px;
	margin-left: 5%;
	margin-top: 10px;
}
.selectsmall{
	margin-left: 5%;
	margin-top: 10px;
}
.options span{
	display: inline-block;
	margin-left: 5%;
}
.options{
	border:1px solid #ced0d4;
	height: 142px;
}

.res-panel{
	background-color:#52ADC8 !important;
}
.acc-panel{
	background-color:#2574AB !important;
}
.mon-panel{
	background-color:#D9534F !important;
}
.add-panel{
	background-color:#505B72 !important;
}
.war-panel{
	background-color:#E6AD5C !important;
}

#save{

	display: table;
	width: 90px;
	margin: 0px auto;
}
.questionsblock{
	display: block;
	width: 80%;
	margin:0px 10%;
	float: right;
	padding-bottom: 50px;
	background: #FEFEFE;
}
.area-wrapper{
	display: block;
	width: 80%;
	margin:0px 10%;
	float: right;
	padding-bottom: 50px;
	background: #FEFEFE;
}

#corans2{
	display: none;
	margin-top: 5px;
	margin-left: 18px;
	width: 50%;
}

.mid-wrapper{
	width: 400px;
	margin:50px auto;
	min-height: 280px;
}
.head{
	padding: 0px;
	margin-top: 0px;
	font-size: 20px;
	text-align: center;
	background-color: #809ECD;
	height: 50px;
	color: white;
	line-height: 50px;
}
.mid-wrapper>form>input{
	width: 300px;
	height: 40px;
	display: table;
	margin:20px auto;
}

.mid-wrapper {
    position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    background: white;
}

/* Make the image fit the box */
.mid-wrapper img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
}

.mid-wrapper::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
    width: 70%; 
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

#save{
	color: #fff;
    background-color: #5cb85c;
    display: block;
    padding: 6px 12px;
    margin: 0px auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.footer{
	clear: both;
	display: block;
	height: 50px;
	width: 100%;
	background: #375A90;
}		

.footer>span{
	color: white;
	display: block;
	text-align: center;
	line-height: 50px;
}
.course-items>p{
	background-color: #F6F7F9;
	border: 1px solid #ced0d4;
	margin-top: 5px;
	padding-left: 10px;
	height: 40px;
	line-height: 40px;
	color: #365899;
}
.course-items>p>i{
	float: right;
	font-size: 18px;
	line-height: 40px;
	margin-right: 10px;
}

.items-header{
	height: 50px;
	background-color: #809ECD;
	color: white;
	text-align: center;	
	line-height: 50px;
	font-size: 19px;
}

#logout{
	clear: both;
	display: inline-block;
	text-align: right;
	color: white;
	text-decoration: none;
}
.profilemenu{
	position: absolute;
	background-color: #809ECD;
	margin:0px;
	padding: 0px;
	border: 1px solid white;
	text-align: center;
	display: none;
}
.profilemenu>li{
	list-style: none;
	color: white;
	border-bottom: 1px solid white;
	cursor: pointer;
}
.fa-angle-down{
	cursor: pointer;
}

#profileedit{
  display: none;
  width: 100%;
  height: 117%;
  position: absolute ;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
#profileedit>div>h1>i{
	position: absolute;
	float: right;
	color: black;
	right: 10px;
	padding-top: 15px; 
	cursor: pointer;
}

.articleblock{
  width: 80%;
  height: 670px;
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: white;
}
#tinymceaticle{
	height: 400px;
	border-bottom: 1px  solid gray;
	margin-bottom: 20px;
}
.articleblock>input{
	width: 100%;
	height: 50px;
}
.articleblock>select{
	width: 100%;
	height: 50px;
}
.articleblock>button{
	margin-top: 20px !important;
	display: inline-block;
}
