body,li,ul,h1{
  margin:0px;
  padding: 0px;
}
html, body { height: 100%; }
body{
  position: relative;
    font-size: 10px;
    background-color: #3B3B3B;
    font-family: GothamRounded;
    height: 100%;
}
header{
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: #3a464b;
  border-color: #e7e7e7;
  margin:0px;
  padding: 0px;
  position: fixed;
  z-index: 120000;
}
header img{
  width: 260px;
  height: 80px;
  float:left;
}
header li{
  list-style: none;
  float:left;
  text-transform: uppercase;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  padding: 10px 15px;
  margin-top: 5px;
  margin-left: 20px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  color: #fff;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}
.fluid>ul>li>a{
  color: white;
  text-decoration: none;
}
.signin{
  display: block;
  overflow: hidden;
  width: 300px !important;
  height: 290px !important;
  float: left;
}

.regaction{
  margin-top: 30px;
}
.signin>div>input[type=submit]{
  background-color: #1abc9c;
  border: medium none;
  border-radius: 10px;
  color: #fff;
  margin:0px;
  font-weight: 500;
  font-size: 1.7em;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  width: 130px;
  margin-left: 30px;
  display: inline-block;
  cursor: pointer;
}

.signin>div>input[type=button]{
  border: medium none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 1.7em;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  width: 130px;
  margin:0px;
  color: #333;
  background: #aaa;
  float: left;
  cursor: pointer;
}

/* login title */
.signin h1{
  color: #777;
  font-weight: 300;
  font-size: 40px;
  padding: 0px;

}

.signin input{
  width: 80%;
  height: 40px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-top: none;
  border-right: none;
  border-left:none;
  border-bottom: 1px solid #757575;
  outline: none;
}
.contentbox{
  margin-left: 50px;
  display: block;
  width: 40%;
  background-color: #fff;
  border-left: 1px solid #dfdfdf;
  border-right:  1px solid #dfdfdf;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
.fluid{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.mainblock{
  display: block;
  padding-top: 60px;
  width: 100%;
  height: 600px;
  background-image: url('../img/bg.jpg');
  background-size: 100% 100%;
}
.footer{
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: #3a464b;
  border-color: #e7e7e7;
  margin:0px;
  padding: 0px;
}
.footer>h3{
  text-align: center;
  color: white;
  line-height: 20px;
  font-size: 23px;
}
.fulldiv{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
}

.signup{
    margin-right: auto;
    margin-left:  auto;
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
    width: 300px !important;
    height: 490px !important;

}
.signup>div>input[type=submit]{
  background-color: #1abc9c;
  border: medium none;
  border-radius: 10px;
  color: #fff;
  margin:0px auto;
  font-weight: 500;
  font-size: 1.7em;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin-left: 30px;
  display: inline-block;
  cursor: pointer;
}

/* login title */
.signup h1{
  color: #777;
  font-weight: 300;
  font-size: 40px;
  padding: 0px;

}
.signup>i{
  float: right;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.signup input{
  width: 80%;
  height: 40px;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-top: none;
  border-right: none;
  border-left:none;
  border-bottom: 1px solid #757575;
  outline: none;
}
.signup>.fa{
    font-size: 2em;
    float: right;
    margin-top: -20px;
}
.fa-check{
  color: green;
}
.fa-times{
  color: red;
}
.fa-check-circle-o{
  color: skyblue;
}
.main-wrapper{
  padding-top: 80px;
}
.mid-content{
  width: 50%;

  background-color: #f2f2f2;
  min-height: 500px;
  margin:0px 0px 0px 25%;
  display: inline-block;
  float: left;
  
}
.profile{
  display: inline-block;
  position: fixed;
  color: white;
  width: 282px;
  height: 120px;
  background-color: rgba(78,78,78,1);
}
.profile img{
  width: 75px;
  height: 75px;
  margin-top: 22px;
  border-radius: 50%;
  margin-left: 5px;
  float: left;
}
.profile p{
  font-size: 22px;
  padding-left: 12px;
  display: inline-block;
  margin-bottom: 0px;
}

.course-items{
  position: relative;
  height: 165px;
  width: 165px;
  margin: 12px;
  float: left;
  background: #f3f3f3;
  color: #737373;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  overflow: hidden;
  transition: box-shadow ease-in 100ms;
  cursor: pointer;
}
.quiztitle{
  height: 130px;
  margin:0px;
}
.course-items>span{
  display: block;
  width: 100%;
  height: 50px;
}
.quizstatus>i{
  float: right;
  font-size: 20px;
  line-height: 35px;
  vertical-align: middle;
  margin-right: 15px;
}
.quizstatus{
  width: 100%;
  display: block;
  background-color: gray;
  height: 35px;
}
.quizstatus>span{
  color: white;
  font-size: 17px;
  float: left;
  padding-left: 10px;
  line-height: 35px;
  color: #36ABCB;
}
.course-items>p{
  padding-left: 10px;
  font-size: 20px;
}

.items-header{
  width: 100%;
  margin:0px auto;
  font-size: 23px;
  background-color: #36ABCB;
  color: white; 
  padding: 9px;
  text-align: center;
}


span>.fa-lock{
  color: black;
  font-size: 20px;
  line-height: 35px;
  vertical-align: middle;
  margin-right: 15px;
}

.quizstatus>.fa-fa-caret-square-o-right{
  color: #00FF15 !important;
  font-size: 20px;
  line-height: 35px;
  vertical-align: middle;
  margin-right: 15px;
}

.fa-caret-square-o-right{
  color: #00FF15 !important;
}

.profilemenu{
  display: none;
  position: relative;
    height: 100;
    width: 80px;
    margin: 12px;
    background: #f3f3f3;
    color: #737373;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    overflow: hidden;
    transition: box-shadow ease-in 100ms;
    cursor: pointer;
}
.profilemenu>li{
    width: 90px;
    display: inline-block;
    list-style: none;
    background-color: white;
    font-size: 15px;
    text-align: center;
}
.profilemenu>li>a{
  color: inherit;
  text-decoration: none;
}


.question{
    font-size: 20px;
    color: #444;
    margin-left:40px;
}
.question>pre>p{
  margin: 10px !important;
}

.quizmulti{
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  border-radius: 3px;
  background: #fff;
  text-align: left;
}
.multianswer{
    border-top: solid 1px #eee;
    border-radius: 3px;
    background: #fff;
    padding: 20px;
    position: relative;
    transition: box-shadow ease-in 100ms;
    cursor: pointer;
    font-size: 16px;
  }

.multianswer>input[type=radio]{
  float: left;
  display: inline-block;
  margin-top: 20px;
}
.multianswer>p{
  display: inline-block;
  width: 80%;
}

.finish{
  width: 100%;
  height: 60px;
  background-color: #36ABCB;
  display: block;
  padding-top: 10px;
}
.finish>button{
  margin:10px auto;
  display: table;
  height:  40px;
  width: 150px;
  background-color: #64DD17;
  color: white;
  border:none; 
  font-weight: bold;
}

.showresult{
  width: 300px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 5px;
  background-color: #3a464b;
  transition: transform ease-in 200ms;
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  margin-bottom: 20px;
}
.showresult>p{
  font-size: 23px;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}
.scs{
  color: green !important;
  text-align: center;
}
.err{
  color: red !important;
  text-align: center;
}

.articleitem{
  width: 100%;
  font-size: 22px;
  padding-left: 20px;
  height: 40px;
  margin-top: 10px;
  border-bottom: 1px solid #cbcbcb;
  cursor: pointer;
  color: #3366cc;
}
.articleitem>i{
  float: right;
  line-height: 30px;
  margin-right: 40px;
}
.article{
  margin-top: 20px;
}
.article>h1{
  text-align: center;
}

